# Microphone input
mic = input.pulseaudio()

# Icecast output
output.icecast(
    %mp3,
    host = "$ICECAST_HOST",
    port = "$ICECAST_PORT",
    password = "$ICECAST_SOURCE_PASSWORD",
    mount = "$ICECAST_MOUNT",
    name = "Live DJ stream",
    mic
)
