/* Variables */
:root {
    /* Blue - Beige */
    /* --primary: #153448;
  --secondary: #3C5B6F;
  --tertiary: #948979;
  --quaternary: #f5bb78;
  --background: #DFD0B8; */

    /* Blue - Turqouise */
    /* --primary: #161D6F;
  --secondary: #0B2F9F;
  --tertiary: #98DED9;
  --quaternary: #C7FFD8;
  --background: #C2EFD1; */

    /* Red - Blue */
    /* --primary: #ff204e; */
    /* --secondary: #a0153e; */
    /* --tertiary: #5d0341; */
    /* --quaternary: #3a0e41; */
    /* --background: #00224d; */

    /* Blue - Brown */
    /* --primary: #35374B; */
    /* --secondary: #344955; */
    /* --tertiary: #50727b; */
    /* --quaternary: #78a083; */
    /* --background: #c7b077; */

    /* Black - White */
    --primary: black;
    --secondary: black;
    --tertiary: black;
    --quaternary: #cccccc;
    --background: white;

    /* Blue - White */
    /* --primary: #201e43; */
    /* --secondary: #134b70; */
    /* --tertiary: #508c9b; */
    /* --quaternary: #cceeee; */
    /* --background: #eeeeee; */

    --font-heading: big_noodle_titling;
    --font-text: CreatoDisplay;
    --font-size-text: 90%;
    --font-size-heading: 2.5em;
    --font-size-tableheading: 1.2em;
}
