/* PRINTING */
@media print {
    .no-print,
    .no-print * {
        display: none !important;
        margin: 0px;
        padding: 0px;
        width: 0x;
        height: 0px;
    }
}
/* END OF PRINTING */

/* FONTS */
@font-face {
    font-family: "big_noodle_titling";
    src: url("/fonts/big_noodle_titling.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CreatoDisplay";
    src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
/* END OF FONTS */

/* VARIABLES */
:root {
    /* RED, WHITE, BLACK are standard*/
    --portal_grey: #dddddd;
    --portal_orange: #ff9a00;
    --portal_light_orange: #ff5d00;
    --portal_blue: #0065ff;
    --portal_light_blue: #00a2ff;

    /* MAIN COLORS */
    --primary: #000;
    --secondary: #000;
    --tertiary: #5a6952;
    --quaternary: #424542;

    /* BACKGROUND COLORS */
    --bg-body: #111;
    --bg_primary: #fff;
    --bg_secondary: #ffa;
    --bg_tertiary: #aaa;
    --bg_quaternary: #999;

    --margin: 3px;
    --padding: 3px;
    --gap: 1px;

    /* FONTS USED */
    --font_heading: big_noodle_titling;
    --font_text: CreatoDisplay;
}
/* END OF VARIABLES */

/* ELEMENTS */
body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: var(--font_text);
}

a {
    text-align: center;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    background-color: var(--bg_secondary);
}

h1,
h2,
h3,
h4 {
    background-color: var(--bg_primary);
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
    font-family: var(--font_heading);
    margin: var(--margin);
}

p {
    color: var(--secondary);
    margin: var(--margin);
}

button {
    color: red;
}

table {
    border: 1px solid var(--primary);
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--primary);
}

/* END OF ELEMENTS */

/* CLASSES */

.img-stamp {
    width: 99px;
    height: 55px;
}

/* BORDERS */
.bdr-1 {
    border: 30px solid;
    border-image: url("/img/borders/border1.gif") 30 round;
}

.bdr-1-inv {
    border: 30px solid;
    border-image: url("/img/borders/border1inv.gif") 30 round;
}

.bdr-2 {
    border: 7px solid;
    border-image: url("/img/borders/border4.gif") 7 round;
}

.bdr-cv {
    border: 30px solid;
    border-image: url("/img/borders/bordercv.png") 30 round;
}

.bdr-primary {
    border: 1px solid var(--primary);
}

.bdr-secondary {
    border: 1px solid var(--secondary);
}

.bdr-tertiary {
    border: 1px solid var(--tertiary);
}

.bdr-quaternary {
    border: 1px solid var(--quaternary);
}

/* SHADOWS */

.shadow-primary {
    box-shadow: 0 20px 20px var(--primary);
}

.shadow-secondary {
    box-shadow: 0 20px 20px var(--secondary);
}

.shadow-tertiary {
    box-shadow: 0 20px 20px var(--tertiary);
}

.shadow-quaternary {
    box-shadow: 0 20px 20px var(--quaternary);
}

/* BACKGROUNDS */

.bg-white {
    background: white;
}

.bg-primary {
    background: var(--bg_primary);
}

.bg-secondary {
    background: var(--bg_secondary);
}

.bg-tertiary {
    background: var(--bg_tertiary);
}

.bg-quaternary {
    background: var(--bg_quaternary);
}

/* SIZING */

.fill {
    flex: 1;
    box-sizing: border-box;
}

.fill-width {
    width: 100%;
}

.wrap {
    text-wrap: break-word;
}

.margin {
    margin: var(--margin);
}

.pad {
    padding: var(--padding);
}

.gap {
    gap: var(--gap);
}

/* ALIGNMENT */

.relative {
    position: relative;
}

.center-content {
    align-items: center;
}

.center-text {
    text-align: center;
}

.left-content {
    text-align: left;
    align-items: left;
    justify-content: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
}

.flex-center {
    justify-content: center;
}

.scroll {
    overflow: scroll;
}

.scroll-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-x {
    overflow-y: hidden;
    overflow-x: scroll;
}

.flex {
    display: flex;
    padding: 2px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.inline {
    display: inline;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.floating {
    position: absolute;
}

/* A5 Page */
.a5page-landscape {
    font-family: var(--font_text);
    height: 148mm;
    width: 210mm;
    margin: 0px;
}

.a5page-portrait {
    font-family: var(--font_text);
    width: 148mm;
    height: 210mm;
    margin: 0px;
}

/* A4 Page */
.a4page-portrait {
    width: 210mm;
    height: 297mm;
    margin: 0px;
}

.a4page-landscape {
    height: 210mm;
    width: 297mm;
    margin: 0 auto;
}

/* END OF CLASSES */

/* PHONE */
@media (max-width: 850px) {
    .a4page-portrait {
        width: 100%; /* fill mobile width */
        height: auto; /* adjust height automatically */
        margin: 0 auto; /* center horizontally */
        box-sizing: border-box;
    }
    .a4page-landscape {
        width: 100%; /* fill mobile width */
        height: auto; /* adjust height automatically */
        margin: 0 auto; /* center horizontally */
        box-sizing: border-box;
    }
}
@media (max-width: 600px) {
    .a5page-portrait {
        width: 100%; /* fill mobile width */
        height: auto; /* adjust height automatically */
        margin: 0 auto; /* center horizontally */
        box-sizing: border-box;
    }
    .a5page-landscape {
        width: 100%; /* fill mobile width */
        height: auto; /* adjust height automatically */
        margin: 0 auto; /* center horizontally */
        box-sizing: border-box;
    }
}
/* END OF PHONE */

/* BACKGROUND */
.overlay {
    position: fixed; /* not absolute */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wfull {
    width: 100%;
}

.w-10vw {
    width: 10vw;
}

.tl {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tr {
    position: absolute;
    top: 0px;
    right: 0px;
}

.bl {
    position: absolute;
    left: 0px;
    right: 0px;
}

.br {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
}

.halftone {
    --dot_size: 1px;
    --bg_size: 3px;
    --bg_pos: calc(var(--bg_size) / 2);
    --blur: 0%;
    --dot_color: #033;
    --bg_color: #000;

    background-color: var(--bg_color);
    background-image: radial-gradient(
        circle at center,
        var(--dot_color) var(--dot_size),
        transparent var(--blur)
    );
    background-size: var(--bg_size) var(--bg_size);
    background-position: 0 0;

    mask-image: linear-gradient(
        30deg,
        rgba(1, 1, 1, 1) 0%,
        rgba(1, 1, 1, 0.9) 100%
    );
}
