/* PRINTING */
@media print {
    .no-print,
    .no-print * {
        display: none !important;
        margin: 0px;
        padding: 0px;
        width: 0x;
        height: 0px;
    }
}
/* END OF PRINTING */

/* FONTS */
@font-face {
    font-family: "big_noodle_titling";
    src: url("/fonts/big_noodle_titling.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CreatoDisplay";
    src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
/* END OF FONTS */

/* VARIABLES */
:root {
    /* RED, WHITE, BLACK are standard*/
    --portal-grey: #dddddd;
    --portal_orange: #ff9a00;
    --portal_light_orange: #ff5d00;
    --portal_blue: #0065ff;
    --portal_light_blue: #00a2ff;

    /* MAIN COLORS */
    --primary: #000;
    --secondary: #000;
    --tertiary: #5a6952;
    --quaternary: #424542;

    /* BACKGROUND COLORS */
    --bg-body: #111;
    --bg_primary: #fff;
    --bg_secondary: #444;
    --bg_tertiary: #666;
    --bg_quaternary: #888;

    --margin: 3px;
    --padding: 3px;
    --gap: 1px;

    /* FONTS USED */
    --font-heading: big_noodle_titling;
    --font-text: CreatoDisplay;
}
/* END OF VARIABLES */

/* ELEMENTS */
body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: var(--font-text);
}

a {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    background-color: var(--bg_primary);
}

h1,
h2,
h3,
h4 {
    color: var(--primary);
    font-family: var(--font-heading);
    margin: var(--margin);
}

p {
    color: var(--secondary);
    margin: var(--margin);
}

video {
    width: 100%;
    object-fit: contain;
}

button {
    color: red;
}

table {
    border: 1px solid var(--primary);
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--primary);
}

/* END OF ELEMENTS */

/* CLASSES */

.img-stamp {
    width: 99px;
    height: 55px;
}

.tile1 {
    width: 300px;
    border: 30px solid;
    border-image: url("/img/borders/border1inv.gif") 30 round;
}

.tile3 {
    width: 936px;
}

.w100 {
    width: 100%;
}
.w80 {
    width: 80%;
}
.w50 {
    width: 50%;
}
.w49 {
    width: 49%;
}

.w300px {
    width: 300px;
}
.w200px {
    width: 200px;
}

.h300px {
    height: 300px;
}
.h200px {
    height: 200px;
}

/* BORDERS */
.bdr-1 {
    border: 30px solid;
    border-image: url("/img/borders/border1.gif") 30 round;
}

.bdr-1-inv {
    border: 30px solid;
    border-image: url("/img/borders/border1inv.gif") 30 round;
}

.bdr-2 {
    border: 7px solid;
    border-image: url("/img/borders/border4.gif") 7 round;
}

.bdr-cv {
    border: 30px solid;
    border-image: url("/img/borders/bordercv.png") 30 round;
}

.bdr-primary {
    border: 1px solid var(--primary);
}

.bdr-secondary {
    border: 1px solid var(--secondary);
}

.bdr-tertiary {
    border: 1px solid var(--tertiary);
}

.bdr-quaternary {
    border: 1px solid var(--quaternary);
}

/* SHADOWS */

.shadow-primary {
    box-shadow: 0 20px 20px var(--primary);
}

.shadow-secondary {
    box-shadow: 0 20px 20px var(--secondary);
}

.shadow-tertiary {
    box-shadow: 0 20px 20px var(--tertiary);
}

.shadow-quaternary {
    box-shadow: 0 20px 20px var(--quaternary);
}

/* BACKGROUNDS */

.bg-white {
    background: white;
}

.bg-primary {
    background: var(--bg_primary);
}

.bg-secondary {
    background: var(--bg_secondary);
}

.bg-tertiary {
    background: var(--bg_tertiary);
}

.bg-quaternary {
    background: var(--bg_quaternary);
}

/* SIZING */

.fill {
    flex: 1;
    box-sizing: border-box;
}

.margin {
    margin: var(--margin);
}

.pad {
    padding: var(--padding);
}

.gap {
    gap: var(--gap);
}

/* ALIGNMENT */

.relative {
    position: relative;
}

.center-content {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.left-content {
    text-align: left;
    align-items: left;
    justify-content: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
}

.scroll {
    overflow: scroll;
}

.flex {
    display: flex;
    padding: 2px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.floating {
    position: absolute;
}

/* A5 Page */
.a5page-landscape {
    font-family: var(--font-text);
    height: 148mm;
    width: 210mm;
    margin: 0px;
    box-sizing: border-box;
}

.a5page-portrait {
    font-family: var(--font-text);
    width: 148mm;
    height: 210mm;
    margin: 0px;
    box-sizing: border-box;
}

/* A4 Page */
.a4page-portrait {
    width: 210mm;
    height: 297mm;
    margin: 0px;
    box-sizing: border-box;
}

.a4page-landscape {
    height: 210mm;
    width: 297mm;
    box-sizing: border-box;
    margin: 0 auto;
}

/* END OF CLASSES */
