/* PRINTING */
@media print {
    .no-print {
        display: none !important;
    }
}
/* END OF PRINTING */

/* FONTS */
@font-face {
    font-family: "big_noodle_titling";
    src: url("/fonts/big_noodle_titling.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CreatoDisplay";
    src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
/* END OF FONTS */

/* VARIABLES */
:root {
    --primary: black;
    --secondary: black;
    --tertiary: #5a6952;
    --quaternary: #424542;
    --background_paper1: #293029;
    --background_paper2: #293019;
    --background_paper3: #293009;
    --background: #5a6952;

    --font-heading: big_noodle_titling;
    --font-text: CreatoDisplay;
}
/* END OF VARIABLES */

/* ELEMENTS */
body {
    margin: 0 auto;
    font-family: var(--font-text);
    background-color: beige;
}

p {
    color: var(--secondary);
}

h1,
h2,
h3,
h4 {
    color: var(--primary);
    font-family: var(--font-heading);
}

img {
    width: 100%;
    object-fit: contain;
}

video {
    width: 100%;
    object-fit: contain;
}

/* END OF ELEMENTS */

/* CLASSES */
.tile1 {
    width: 300px;
}

.tile3 {
    width: 900px;
}

.border1 {
    border: 30px solid;
    border-image: url("/img/borders/border3.gif") 30 round;
}

.border2 {
    border: 2px solid black;
    text-align: center;
}

.shadow1 {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.bg-white {
    background: white;
}

.center-content {
    align-items: center;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.margin1 {
    margin: 10px;
}

.album-img {
    width: 50mm;
    height: 50mm;
}

.floating {
    position: absolute;
}

/* A5 Page */
.a5page {
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
    height: 148mm;
    width: 210mm;
    padding: 5mm;
    box-sizing: border-box;
    background-color: var(--background_paper1);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    border: solid 2px var(--primary);
}

/* A4 Page */
.a4page {
    line-height: 1.6;
    font-family: var(--font-text);
    width: 210mm;
    /* Standard A4 width */
    height: 297mm;
    /* Standard A4 height */
    padding: 10mm;
    box-sizing: border-box;
    background-color: var(--background_paper1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary);
    overflow: auto;
    /* Enables scrolling when content exceeds height */
    margin: 0 auto;
    /* Centers the page horizontally */
}

/* END OF CLASSES */
