/* Printing */
@media print {
    .no-print {
        display: none !important;
    }
}

/* Variables */
/* Blue - Beige */
:root {
    --primary: #153448;
    --secondary: #3c5b6f;
    --tertiary: #948979;
    --quaternary: #f5bb78;
    --background: #dfd0b8;
}

body {
    /*background-image: linear-gradient(to bottom, aqua, blue);*/
    font-family: "Times New Roman", Times, serif;

    /*width: 100vw;*/
    /*height: 100vh;*/

    /*background-image: url("../img/background.png");
    background-size: cover;*/
    background-color: var(--background);
}

main {
    width: 148mm; /* A5 width */
    height: 210mm; /* A5 height */
    max-width: 100%; /* responsive on smaller screens */
    margin: 20px auto; /* center horizontally with some spacing */
    padding: 20px;
    background: white; /* paper color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle paper shadow */
    overflow-y: auto; /* scroll vertically if content overflows */
    border: 1px solid #ccc; /* optional border for realism */
    box-sizing: border-box; /* include padding in size */
    font-family: "Times New Roman", serif; /* optional paper-like font */
}

p {
    color: var(--secondary);
}

h1,
h2,
h3,
h4 {
    color: var(--primary);
}

.album-img {
    width: 50mm;
    height: 50mm;
}
