/* Printing */
@media print {
    .no-print {
        display: none !important;
    }
}

/* Variables */
/* Blue - Beige */
:root {
    --primary: #153448;
    --secondary: #3c5b6f;
    --tertiary: #948979;
    --quaternary: #f5bb78;
    --background: #c4bbb8;
    --background_paper: #dfd0b8;
}

body {
    /*background-image: linear-gradient(to bottom, aqua, blue);*/
    font-family: "Times New Roman", Times, serif;

    /*width: 100vw;*/
    /*height: 100vh;*/

    /*background-image: url("../img/background.png");
    background-size: cover;*/
    background-color: var(--background);
}

p {
    color: var(--secondary);
}

h1,
h2,
h3,
h4 {
    color: var(--primary);
}

.album-img {
    width: 50mm;
    height: 50mm;
}

/* A5 Page */
.a5page {
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
    height: 148mm;
    width: 210mm;
    padding: 5mm;
    box-sizing: border-box;
    background-color: var(--background_paper);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    border: solid 2px var(--primary);
}

/* A4 Page */
.a4page {
    line-height: 1.6;
    font-family: var(--font-text);
    width: 210mm;
    /* Standard A4 width */
    height: 297mm;
    /* Standard A4 height */
    padding: 10mm;
    box-sizing: border-box;
    background-color: var(--background_paper);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary);
    overflow: auto;
    /* Enables scrolling when content exceeds height */
    margin: 0 auto;
    /* Centers the page horizontally */
}
