@media print {
    .no-print {
        display: none !important;
    }
}

body {
    background-image: linear-gradient(to bottom, aqua, blue);
    font-family: "Times New Roman", Times, serif;

    /*background-image: url("../img/background.png");
    background-size: cover;*/
}

p {
    color: black;
}

h1,
h2,
h3,
h4 {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /*background-color: beige;*/
}
